body {
	margin-right: auto;
	margin-left: auto;
	height: 700px;
}
.header {
    background-image: url("images/header.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 87px;
    width: 980px;
    position: absolute;
}
.main_content {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.content {
	float: left;
	width: 670px;
	margin-top: 30px;
}
.form {
	/*background-image: url(images/background_form.png);*/
	background-repeat: no-repeat;
	background-position: center top;
	height: 518px;
	width: 290px;
	float: right;
	margin-right: 20px;
	margin-top: 130px;
}

#form{
	margin-bottom: 0px;
}
.textfield {
	border-radius: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 10px;
	padding-left: 10px;
}
.textarea {
	border-radius: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 10px;
	padding-left: 10px;
}

.dropdown {
	border-radius: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	height: 30px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 50px;
}
.check {
	border-radius: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	height: 120px;
	border: 1px solid #999;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
}

#image_gallery{
	margin-top:25px;
	margin-left:28px;
	float: left;
}

#image_gallery img{
	margin-right:20px; 
	width: 120px;
	opacity:0.6;
}


#image_gallery img:hover{
	opacity: 1;
}

.message{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 22px;
    margin: 82px auto 0 11px;
    position: absolute;
    width: 266px;
}

.form_content{
	height: 525px;
}

#invalidConversion{
	display: none;
}